<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Product List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" th-href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<h1 class="txt ui-corner-bottom">Product List</h1>
<a href="addPerson">Add Product</a>
<br/><br/>
<div>
  <table class="table table-striped" border="1">
    <tr>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">price</th>
      <th scope="col">image</th>
      <th scope="col">action</th>
    </tr>

    <tr scope="row" th:each ="product : ${products}">
      <td th:utext="${product.title}">...</td>
      <td th:utext="${product.description}">...</td>
      <td th:utext="${product.image}">...</td>
      <td th:utext="${product.price}">...</td>
      <td><a class="btn btn-danger" th:href="@{delete(id=${product.id})}" >delete</a></td>


  </table>
</div>
</body>
</html>